<section class="form-container">
    <h2>Edit Recipe</h2>
    <form method="post">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" value="{{data.name}}">

        <label for="skin">Skin Type:</label>
        <textarea id="skin" name="skin">{{data.skin}}</textarea>

        <label for="description">Product Description:</label>
        <textarea id="description"
            name="description">{{data.description}}</textarea>

        <label for="ingredients">Key Ingredients:</label>
        <textarea id="ingredients" name="ingredients">{{data.ingredients}}</textarea>

        <label for="benefits">Benefits:</label>
        <textarea id="benefits"
            name="benefits">{{data.benefits}}</textarea>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="{{data.price}}">

        <label for="image">Image URL:</label>
        <input type="url" id="image" name="image"
            value="{{data.image}}">

        <button type="submit">Edit Product Card</button>
    </form>
</section>