{{#with course}}
<div class="details-container">

    <div class="details-container-image">
        <img src="{{image}}">
    </div>
    <div class="details-container-info">
        <h2>Title: {{title}}</h2>
        <h3>Type: {{type}}</h3>
        <h3>Certificate: {{certificate}}</h3>
        <h3>Price: €{{price}}</h3>
        <h3>By: {{data.email}}</h3>

        {{#if signCount}}
        <!--If there are sign up users-->
        <h4>Signed By: {{signCount}}</h4>
        {{else}}
        <!--If there are no sign up users-->
        <h4>Nobody has signed in for this course yet</h4>
        {{/if}}

    </div>
    <div class="details-container-content">
        <p>{{description}}</p>
    </div>

    <div class="btn-container">
        {{#if hasUser}}
        <!-- Only for registered user and creator of the course-->
        {{#if isAuthor}}
        <a href="/edit/{{_id}}">Edit</a>
        <a href="/delete/{{_id}}">Delete</a>

        {{else}}

        {{#if hasSignUp}}
        <!-- logged in user who has already sign up for the course-->
        <p class="sign-up">You've already signed up for this course!</p>
        {{else}}
        <!-- logged in user who has not yet sign up for the course-->
        <a href="/signup/{{_id}}">Sign up</a>
        {{/if}}
        {{/if}}
        {{/if}}
    </div>
</div>
{{/with}}